.dot {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    margin-right: 1em;
    cursor: pointer;
  }

.dot.active {
    background-color: green;
}

.dot span {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.dot .checkbox {
    position: absolute;
    top: -9999em;
    overflow: hidden;
}