#
# Environment configuration settings
#

# if you'd like a bastion server created
export TF_VAR_create_bastion=true

# security group source IP restriction on the bastion host
export TF_VAR_bastion_allowed_ips=0.0.0.0/0

# AWS CLI Named profile. This keeps keys away from the project source
# https://docs.aws.amazon.com/cli/latest/userguide/cli-multiple-profiles.html
export TF_VAR_profile=MY_AWS_CLI_PROFILE

# project name is used as part of resource labels  (resource-project-environment)
export TF_VAR_project=MY_PROJECT

# AWS region into which resources will be deployed
export TF_VAR_region=us-east-1

# name of the EC2 Key Pair used to connect to servers
# https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html
export TF_VAR_key=MY_SSH_KEYNAME

# ec2 instance type used by ecs container hosts
export TF_VAR_ecs_instance_type=t2.large

# size in GB of the root volume of each ECS container host
export TF_VAR_ecs_instance_root_volume_size=10

# autocaling group minimum number of instances
export TF_VAR_ecs_asg_min_size=2

# autoscaling group maximum number of instances
export TF_VAR_ecs_asg_max_size=2

# HTTPS certificate ARN from AWS certificate manager
export TF_VAR_certificate_arn=arn:aws:acm:us-east-1:123412341234:certificate/12341234-3144-4c26-ba3c-123412341234

#schema name for the rds-mysql database
export TF_VAR_identifier=demodb

#database engine specifying "mysql" as the database server of choice in RDS
export TF_VAR_engine=mysql

#Version of mysql server to launch in RDS
export TF_VAR_engine_version=5.7.19

# db instance class to launch in RDS
export TF_VAR_instance_class=db.t2.large

# if you'd like the database encrypted
export TF_VAR_storage_encrypted=false

# this is the allocated storage in GB
export TF_VAR_allocated_storage=5

# this is the maintenance window during which maintenance (i.e. upgrade) will occur.
export TF_VAR_maintenance_window=Mon:00:00-Mon:03:00

# this is the window during which daily backup will occur
export TF_VAR_backup_window=03:00-06:00

# this is the superuser created for database admin purposes
export TF_VAR_username=user

# this is the password of the db superuser
export TF_VAR_password=YourPwdShouldBeLongAndSecure!

# this is the database port
export TF_VAR_port=3306
