body {
    width: 100%;
    height:100%;
    background-color: #2a2a2a;
    background-image: url(./calendar-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content-box-tasker {
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 600px;
    min-height: 360px;
    padding:20px;
    margin: 180px 60px 20px 60px;
}
h1 {
    font-family: "Merriweather", "Times New Roman", Times, Georgia, serif;
    font-size:52px;
    font-weight:300;
    color:#7f7f7f;
}
p {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    font-weight:400;
}
